- hosts: aws
  become: true

  tasks:
    - name: Install pip
      package:
        name: pip
        state: present
    
    - name: Install AWS dependencies
      pip:
        name:
          - boto3
          - botocore

    - name: List all EC2 keys in the current region
      amazon.aws.ec2_key_info:
        access_key: ASIA4H2KVZU2KAMYBQGK
        region: us-east-1
        secret_key: QFOnUF8cUqPTcfrcvxfbfLvsBgoHt1UgyR3eZQm4
        session_token: IQoJb3JpZ2luX2VjEGYaCXVzLXdlc3QtMiJHMEUCIAe4Luy3B9559P484POtruZ/XNEOC7zsc3tgO8DMAeaTAiEAhEai3E5P2GkQGr1bioIrnWoFfefb6pZzaDIQZVWYjuYqvgIILxACGgw4NDE0MzMzMzcxNDAiDBRHPO2yxlpnpcRyiCqbAp3xg7k7uC/KPACGfjfT9ahSXWFg+vqh8nC6QK8qKgmV79v1DeuqTwlBWo1zgEPBBEG/IjWcrCIiQadhR9+IBB6UZv5j8FIeD2lCS4fluP1lGnS47m+Q3mXC2ghS/DccngnPgSWPNOqsfk8TdQOcDEvQWEiUrZvAyqqkgYf5Y2m0Rtlq+4WD/VwVm5von6EYqK5cXUZyBZEowFdWglu2v74N3k3KjlUCpEMPYh0fA1DlNi9/8vohb28ze18sszmgcytVFvcXLJXbx9vQ2uCY5UOS8p2ap3dPcPDF+B5YDOlJzYKmmjIa+gP8yH8F/D8+yYxmUhwiovlvKvcGNBXDhl6M5PjcMdUiCgqowmGtMTTWz/PcfUwPPeD/590wy8mxygY6nQEhMPHYGnGDTNBoNE8R9VV8iMxcBsn5px1MlKQAEqleJr/DNBFc3ZrOPvJyhWnAljZbsctz8+l+wBxL90LNW/l+a4qkcfvJfQ/0yKOKkm7CWXYIr7kfFANttuYFKEhzYTHMRgf8N09j9m0rDSW+V49fhYp5DHF1OVEf+pjY0PIq/tMM76j2rC0zvLeJOQHBrVKXGjcwiIhYjRTqyDFb
      register: ec2_keys
    
    - name: Show EC2 Keys
      debug:
        msg: "{{ ec2_keys }}"