- hosts: aws
  become: true

  tasks:
    - name: Install pip
      package:
        name: pip
        state: present
    
    - name: Install AWS dependencies
      pip:
        name:
          - boto3
          - botocore

    - name: List all EC2 keys in the current region
      amazon.aws.ec2_key_info:
        access_key: ASIA4H2KVZU2PPQ3FKYC
        region: us-east-1
        secret_key: joJgNVF7K3ts+eoQ/gORozo+PvCJ1TnMNhWXeLrl
        session_token: IQoJb3JpZ2luX2VjEE4aCXVzLXdlc3QtMiJGMEQCIDqn/V3hFSVNTpT0Uno/cIWX1hsaLSMLAibVnq2Ka5wYAiByabRiR8Y7RG1fBrK/ZMWNBW7tPMACpLq9sdSRZezNTiq+AggXEAIaDDg0MTQzMzMzNzE0MCIMDft0xmhyjaWjf6zSKpsClodCf4damXDm2lJJn9o0fbX2KhLmvs0JzGoa9wVqOO/0qkPso7TULWKVWfyGpyIJfGyQWuTaz8SFlSCdjm9U7Ts44HiHSooSjZ2KZlxn2B3mVUXDE8aa2OiBanN14umOMj7CGqB15yCq04bHD23BfUeVCXc83Tc6Ohz4cdivmIegZdV2u77r9Lo0Na/WdZq8k6ZfJ0VyCW9ZdC4PWe6PwgmWJ8Pu+jNoVfekQAlrlRi3EBtDJEFATiqk3/B7bmY76Ow87ayz0VQPhFd+Q7WxVJF1zJ4MDFp37hT0B0RhYwGbMEydESD6cfrMybm1Q1L6eclOrDPIMmm3rZdOnsjC3+6tuqc6PisA1Vb+LAiDMpCKbl6MuFQUsfyRJjDvoqzKBjqeAezmjSREBP6PamDA5aLGSeMx6Jsk8Uu5mS/XBMw0WkKpJVqqMEmyd2CbUwdOYR9cjScXORRVG109KRfpaX7NdZmbz5QXJ8Q80kuMTj6Mmh70Q0nmnvcqVgy3nCg7basAXXZw7Hg1oW0i8rkfmmt34LtEGq6C9ZLXXmVl1FvH/EB5c1Y5wgMi3UXOHh22Z90lcwvArXqlALN+JG33fvOW
      register: ec2_keys
    
    - name: Show EC2 Keys
      debug:
        msg: "{{ ec2_keys }}"